*{
    margin: 0px;
    padding: 0px;
   
   
}
body{
    background-color: black;
}
nav{
    font-family: 'Amarante', cursive;
    opacity: 90%;
    margin-bottom: 40px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    
    
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color:0 0 10px rgb(250, 24, 8), 0 0 20px rgb(19, 243, 30), 0 0 30px ;
    color:rgb(0, 217, 255);
    opacity: 100%;
    
    box-shadow:  0 0 10px rgb(10, 156, 156), 0 0 20px rgb(53, 19, 243), 0 0 30px;
    text-shadow:  0 0 10px rgb(10, 156, 156), 0 0 20px rgb(53, 19, 243), 0 0 30px;

}
nav ul li{
    padding: 0 12px;
    cursor: pointer;

}
.container  {
    background-color: rgb(8, 10, 10);
    width: 60%;
    min-height: 75vh;
    border-style: solid;
    border-color: rgb(0, 255, 242);
    color: azure;
    box-shadow: 0 0 10px rgb(10, 156, 156), 0 0 20px rgb(53, 19, 243), 0 0 30px;
    

}
.container h1{
    cursor: pointer;
}
.title h1{
    font-family: 'Satisfy', cursive;
    

}

.instruction{
    color: white;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgb(250, 9, 9), 0 0 20px rgb(229, 245, 11), 0 0 30px;
    
}
.instruction h1 text{
    cursor: pointer;
}

.button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    outline: none;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 29px;
    margin-left: 32px;
    width: 171px;
   }
   .btns{
    margin-left: 35%;
    padding: 10px;
   }